:root {
  --color-primary: #9075c2;
  --color-text-base: #4A4C63;
  --color-text-light: #4b4d63b3;
  --color-primary-gradient: linear-gradient(344deg, rgba(137,117,194,1) 0%, rgba(176,132,213,1) 100%); 
}

/* ###### CONTAINER */

/* ###### TITLE */

.price-options {
  padding: 5vh 0;
  text-align: center;
  color: var(--color-text-base);
  opacity: .7;
}

.price-options h1 {
  font-size: 40px;
}

/* ###### CARD CONTAINER */

div.card-container {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-template-rows: 530px;
  justify-content: center;
}

/* ###### CARD CONTAINER */

div.card {
  background: white;
  width: 90%;
  height: 90%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 2rem var(--color-text-light);
}

/* ###### CARD HEADER */

.card-header h1 {
  margin: 30px 0;
  font-size: 60px;
  font-weight: 700;
  color: var(--color-text-base);
}

.card-header h5 {
  font-size: 22px;
  color: var(--color-text-light);
}

/* ###### CARD BODY */
.card-body{
  display: grid;
}
.card-body li {
  padding: 20px 0;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-text-light);
  border-top: 1px solid #ccc;
  align-self: center;
}

/* ###### CARD FOOTER */
.card-footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
}
.card-footer .btn-outline-primary{
  height: 50px;
  align-self: center;
  font-weight: bold;
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.card-footer .btn-outline-primary:hover{
  background: var(--color-primary);
  color: white;
  box-shadow: 0 0 1rem var(--color-primary);
  transition: .3s;
}

/* ###### CARD BASIC */
div#Basic{
  justify-self: end;
  align-self: center;
}
/* ###### CARD MASTER */
div#Master{
  justify-self: start;
  align-self: center;
}

/* ###### CARD PROFESSIONAL */
div#Professional {
  width: 100%;
  height: 100%;
  justify-self: center;
  background: var(--color-primary-gradient);
  z-index: 1;
}

div#Professional h1, div#Professional h5, div#Professional li {
  color: white !important;  
}

div#Professional .card-footer .btn-outline-primary{
  border: 1px solid white;
  color: white;
  align-self: flex-end;
}
div#Professional .card-footer .btn-outline-primary:hover{
  background: white;
  color: var(--color-primary);
  box-shadow: 0 0 1rem white;
  transition: .3s;
}




/* ###### BUTTONS */

.btn{
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

